*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
ul 
{
    list-style: none;
    display: flex;
    align-items: center
}
ul p 
{
    font-size: 33px;
}
nav li 
{
    margin: 15px;
}
nav
{
    background: #6B1740;
    height: 120px;
    display: flex;
    padding: 0 200px;
}
nav img
{
    height: 120px;
}
button
{
    background: #1C26ED;
    border: none;
    padding: 20px 60px;
    margin: 20px;
    border-radius: 20px;
    font-size: 28px;
}
button:hover
{
    cursor: pointer;
}
.hero
{
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
}
.logos img
{
    width: 200px;
}
.logo-mid
{
    width: 124px;
    height: 235px;
}
.main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.main h1 
{
    font-size: 48px;

}
.main strong
{
    font-size: 36px;
}
.main p
{
    font-size: 28px;
}