.registro
{
    height: 100vh;
    background-color:#1F1F23;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-registro
{
    display: flex;
    flex-direction: column;
    background: #26262A;
    width: auto;
    height: auto;
    padding: 50px 100px;
    border-radius: 10px;
}
.form-item
{
    margin: 10px;
}
.form-registro h1
{
    font-size: 42px;
    font-weight: 700;
}
.form-registro label
{
    font-size: 33px;
}
.form-registro input
{
    border-radius: 10px;
    border: none;
}
.button-form
{
    background: #1C26ED;
    border: none;
    padding: 20px 60px;
    margin: 20px;
    border-radius: 20px;
    font-size: 28px;
}
.button-form:hover
{
    cursor: pointer;
}
.btn-container
{
  align-self: center;
}

input[type=text], input[type=number]
{
    color: black;
    padding: 10px;
    font-size: 23px;
}

.wrapper{
    display: inline-flex;
    background: #fff;
    border-radius: 5px;
    padding: 30px 15px;
  }
  .wrapper .option{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
  }
  .wrapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
  }
  .wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #1C26ED;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }
  input[type="radio"]{
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2,
  #option-3:checked:checked ~ .option-3{
    border-color: #1C26ED;
    background: #1C26ED;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot,
  #option-3:checked:checked ~ .option-3 .dot{
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before,
  #option-3:checked:checked ~ .option-3 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span{
    font-size: 20px;
    color: #808080;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span,
  #option-3:checked:checked ~ .option-3 span{
    color: #fff;
  }