{%extends 'base.html'%}
{% block title %}Title{% endblock %}
{%block content%}
<section class="hero" >
    <div class="main" >
        <div class="logos">
            <img class="ipn-logo" src="../static/img/IPN.png" alt="">
            <img class="escom-logo" src="../static/img/ESCOM.png" alt="">
        </div>
        <h1>“Prototipo para medir el nivel de intensidad de la depresión”</h1>
        <h2><strong>Integrantes</strong></h2>
        <p>
            García Mosqueda Odan Ricardo
            <br>
            Macias Castillo Josue
            <br>
            Martínez Barrera Brenda Arlenn
            <br>
            Trinidad Leon Roberto Antonio
            <br>
            Director Dr. Rodolfo Romero Herrera
        </p>
        <img class="logo-mid" src="../static/img/logo.png" alt="">
        <br>
        <a href="/registro">
            <button>
                Comenzar
            </button>
        </a>
    </div>
</section>
{%endblock%}