{%extends 'base.html'%}
{% block title %}Title{% endblock %}
{%block content%}
    

<section class="registro">
    <form class="form-registro" method="POST">
        <h1 class="form-item" >
            Ingresa tus datos:
            {%if error%}
            <h1 style="color: red; font-size:33px" >Te falto llenar un campo 🤦‍♂️ </h1>
            {%endif%}
        </h1>
        <label class="form-item" for="nombre"> Nombre: </label>
        <input class="form-item" name="nombre" id="nombre" type="text">
        <label class="form-item" for="edad">Edad:</label>
        <input class="form-item" name="edad" id="edad" type="number">
        <label class="form-item" for="sexo">Sexo:</label>
        <div class="wrapper">
            <input type="radio" name="sexo" value="Hombre" id="option-1" checked>
            <input type="radio" name="sexo" value="Mujer" id="option-2">
            <input type="radio" name="sexo" value="Other" id="option-3">
              <label for="option-1" class="option option-1">
                <div class="dot"></div>
                 <span>Hombre</span>
                 </label>
              <label for="option-2" class="option option-2">
                <div class="dot"></div>
                 <span>Mujer</span>
              </label>
              <label for="option-3" class="option option-3">
                <div class="dot"></div>
                 <span>Other</span>
              </label>
           </div>
           <div class="btn-container">
             <input class="form-item button-form" value="Aceptar" type="submit">
             <button class="button-form" onclick="anon()">Anónimo</button>           
           </div>
    </form>
</section>

<script>
  function anon()
  {
    document.getElementById("nombre").value = "Anónimo"
    document.getElementById("edad").value = "0"
    document.getElementById("option-3").checked = true
  }
</script>

    

{%endblock%}