{%extends 'base.html'%}
{% block title %}Title{% endblock %}
{%block content%}
    <section class="resultados">
        <div class="resultados-container">
            <h1>Resultados:</h1>
            <h1> Tus datos son:
                <br>     
                Nombre: {{nombre}} 
                <br>
                Edad: {{edad}} 
                <br>
                Sexo: {{sexo}} </h1>
            <img src="{{ url_for('static', filename='img/tabla.png') }}" alt="">
            <div class="suma-resultado" >
                <p>Emocion elegida:</p> <span> <strong> 
                   {{pregunta1}}
                </strong> </span>
                <p>Resultado del Test de Depresión:</p> <span id="test" > {{resultado}} </span>
                <p>Resultado de AF:</p id="AF" > <input type="number" name="" id="AF">
                <p id="p-total" style="display: none;" >Total de Puntos:</p> <span id="total" >  </span>
            </div>
            
                <button onclick="total()">
                    Calcular mi Resultado
                </button>
        </div>
    </section>

    


{%endblock%}
